<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-row style="width:100%">
        <ion-col size="10">
          <ion-card-title>{{farmer.firstName}}</ion-card-title>
        </ion-col>
        <ion-col size="2">
          <ion-button (click)="onClose()">X</ion-button>
        </ion-col>
      </ion-row>
    </ion-card-header>
    <ion-card-content>
      <ion-row style="width:100%">
        <ion-col size="6">
          <ion-item>
            <ion-label>
              Liter
            </ion-label>
            <ion-input type='number' [(ngModel)]="liter" [maxlength]="2"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item>
            <ion-label>
              SNF
            </ion-label>
            <ion-input type='number' [(ngModel)]="milliliter" [maxlength]="1"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row style="width:100%">
        <ion-col size="6">
          <ion-item>
            <ion-label>
              Lacto
            </ion-label>
            <ion-input type='number' [(ngModel)]="liter" [maxlength]="2"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item>
            <ion-label>
              Fat
            </ion-label>
            <ion-input type='number' [(ngModel)]="milliliter" [maxlength]="1"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row style="width:100%;">
        <ion-col size="8">
          <!-- {{}} -->
        </ion-col>
        <ion-col size="4">
          <ion-button (click)="save()" expand="full" shape="round" color="secondary">Save
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>