<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-row style="width:100%">
        <ion-col size="10">
          <ion-card-title>{{farmer.firstName}}</ion-card-title>
        </ion-col>
        <ion-col size="2">
          <ion-button (click)="onClose()">X</ion-button>
        </ion-col>
      </ion-row>
    </ion-card-header>
    <ion-card-content>
     <form [formGroup]="milk" (ngSubmit)="addMilk()">
      <ion-row style="width:100%">
        <ion-col size="6">
          <ion-item>
            <ion-label>
              Liter
            </ion-label>
            <ion-input type='number' formControlName="milk_quantity" [maxlength]="2"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item>
            <ion-label>
              SNF
            </ion-label>
            <ion-input type='number' formControlName="snf" [maxlength]="1"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row style="width:100%">
        <ion-col size="6">
          <ion-item>
            <ion-label>
              Lacto
            </ion-label>
            <ion-input type='number' formControlName="lacto"  [maxlength]="2"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item>
            <ion-label>
              Fat
            </ion-label>
            <ion-input type='number' formControlName="fat" [maxlength]="1"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row style="width:100%;">
        <ion-col size="8">
          {{milk.value.milk_quantity * 23}}
        </ion-col>
        <ion-col size="4">
          <ion-button type="submit" expand="full" shape="round" color="secondary">Save
          </ion-button>
        </ion-col>
      </ion-row>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>