<ion-card style="margin-top: 20%;">
  <ion-card-header style="text-align:center;background-color: salmon;">
    <ion-card-title style="color: #fff;">Login</ion-card-title>
  </ion-card-header>
  <ion-card-content style="background-color: #fff;">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm)">
      <ion-col>
        <ion-item>
          <ion-label>User Name :</ion-label>
          <ion-input type="text" formControlName="userName"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label>Password :</ion-label>
          <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-button type="submit" [disabled]="!loginForm.valid" expand="full" shape="round" color="secondary">Login
        </ion-button>
      </ion-col>
    </form>
  </ion-card-content>
</ion-card>
