<ion-row style="width: 100%;background-color: coral">
    <ion-col size="8"> {{today | date:'fullDate'}}</ion-col>
    <ion-col size="3"> {{location}}</ion-col>
    <ion-col size="1">
        <ion-icon name="sunny" style="font-size: 20px; color: yellow;"></ion-icon>
    </ion-col>
</ion-row>
<ion-searchbar [(ngModel)]="searchText" color="light" (ionInput)="onInput()"></ion-searchbar>
<ion-content>
    <ion-list>
        <ng-template ngFor let-farmer let-i="index" [ngForOf]="farmerListService.farmers">
            <ion-item>
                <ion-row style="width: 100%;">
                    <ion-col size="8">
                        <ion-label>{{farmer.firstName}}</ion-label>
                    </ion-col>
                    <ion-col size="2">
                        <!-- {{farmer.totalMilk}} -->1
                    </ion-col>
                    <ion-col size="2" (click)="getVal(i)" style="color:blue">
                        <!--   {{farmer.todaysMilk}} -->2
                    </ion-col>
                </ion-row>
            </ion-item>
        </ng-template>
    </ion-list>
</ion-content>
<ion-footer>
    <ion-toolbar color="primary">
        <ion-row>
            <ion-col size="4">
                <ion-icon name="add" (click)="addFarmer()" style="font-size: 36px; padding-left: 30%;"></ion-icon>
            </ion-col>
            <ion-col size="4">
                <ion-icon name="pin" (click)="addLocation()" style="font-size: 36px;padding-left: 30%;"></ion-icon>
            </ion-col>
            <ion-col size="4">
                <ion-icon name="cog" (click)="gotoSettings()" style="font-size: 36px;padding-left: 30%;"></ion-icon>
            </ion-col>
        </ion-row>
    </ion-toolbar>
</ion-footer>