<ion-content>
  <ion-toolbar color="primary">
    <ion-button color="secondary" (click)="gotoList()">
      <ion-icon name="arrow-round-back"></ion-icon>
    </ion-button>
  </ion-toolbar>
  <ion-row style="padding-top:10%;width: 100%;" [formGroup]="location">
    <ion-col size='1'>
    </ion-col>
    <ion-col size='10'>
      <ion-item>
        <ion-label>Location : </ion-label>
        <ion-input type="text" formControlName="name" maxlength="30"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col size='1'>
    </ion-col>
  </ion-row>
  <ion-row style="padding-top:10%;width: 100%;">
    <ion-col size='1'>
    </ion-col>
    <ion-col size='10'>
      <ion-button (click)="addLocation()" expand="full" shape="round" color="secondary">+Add</ion-button>
    </ion-col>
    <ion-col size='1'>
    </ion-col>
  </ion-row>
</ion-content>