<ion-content>
  <ion-toolbar color="primary">
    <ion-button color="secondary" (click)="gotoList()">
      <ion-icon name="arrow-round-back"></ion-icon>
    </ion-button>
  </ion-toolbar>
  <ion-row style="padding-top:10%;width: 100%;">
    <ion-col size='1'>
    </ion-col>
    <ion-col size='10'>
      <ion-item>
        <ion-label>Location : </ion-label>
        <ion-select [formControl]="location">
          <ion-select-option *ngFor="let location of locations;" [value]="location">{{location.name}}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>
    <ion-col size='1'>
    </ion-col>
  </ion-row>
  <ion-row style="padding-top:10%;width: 100%;">
    <ion-col size='1'>
    </ion-col>
    <ion-col size='10'>
      <ion-button (click)="setLocation()" expand="full" shape="round" color="secondary">Set Location</ion-button>
    </ion-col>
    <ion-col size='1'>
    </ion-col>
  </ion-row>
</ion-content>